/* 全局样式表 */

* {
    margin: 0;
    padding: 0;
}
.main {
    margin: 10px 10px 0 10px;
    background-color:#eee;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 4px;
    background-color: #f1f1f1;
    border-radius: 0.6px;
    height: 4px;
}

/* 高度 宽度 充满 */
.height-100pc {
    height:100% !important;
}

.width-100pc {
    width: 100% !important;
} 


